.footer{
    height: 40vh;
    color: white;
    background: #312f2f;
    padding-top: 50px;
    padding-left: 30vw;
    h1{
        font-size: 25px;
    }
    p{
        font-family: sans-serif;
        font-size: 12px;
        padding-top: 10px;
    }
    .icon{
     font-size:25px;
     display: flex;
     gap: 40px;
     padding-top: 10px;
     .icons{
        display: flex;
        gap: 10px;
     }
     .image{
        img{
            border-radius: 20px;
        }
     }
    }
}
@media screen and (max-width: 800px) {
footer{
    font-size: small;
    
    h1{
 text-align: center;
    }
    p{
        text-align: center;
    }
    .icon{
      gap: 5px;
    }
}
}