.main-div{
    height: 22vh;
     .top-part{
        background-color: #57565a;
        color: white;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        padding-right: 50px;
        width: 95vw;
        .left{
            display: flex;
            gap: 10px;
            font-size: large;
            font-family:Impact sans-serif;
            padding-top: 19px;
            h4{
                padding: 5px;
            }

        }
        .right{
            display: flex;
            gap: 20px;
            font-size: large;
            font-family: sans-serif;
            padding-top: 20px;
            padding-right: 20px;
        }
        ul{
            display: flex;
            gap: 30px;
            li{
                padding: 8px;
                list-style-type: none;
                text-decoration-style: none;
                text-decoration: none;
                cursor: pointer;
                a{
                    text-decoration: none;
                    text-decoration-style: none;
                    color: black;
                    font-size: 23px;
                    font-family:Impact sans-serif;
                    font-weight: 400;
                }
            }
        }
     }
    }   
     .homepage{
    display: flex;
    gap: 5vw;
    .top{
        padding-top: 50px;
       padding-left: 50px;
       font-family:Arial, Helvetica, sans-serif;
       h1{
        background: linear-gradient(to right,red,blue);
        font-weight: 800;
        font-size: 50px;
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 60px rgba(255,0,0,0.457);
        animation: anime 1s infinite alternate;
       }
       p{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 5px;
       }
       .btn{
        display: flex;
        gap: 10vw;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        .btn1{
            button{
                font-size: 20px;
                padding: 3px;
                height: 5vh;
                width: 10vw;
                border-radius: 10px;
                border: transparent;
                background:linear-gradient(to right,rgba(30, 168, 3, 0.911),rgba(15, 219, 8, 0.301)) ;
                color: white;
                cursor: pointer;
            }
        }
        .btn2{
            button{
                font-size: 20px;
                padding: 3px;
                width: 10vw;
                height: 5vh;
                border-radius: 10px;
                border: transparent;
                background:linear-gradient(to right,rgba(80, 78, 78, 0.596),rgba(139, 139, 163, 0.432)) ;
                color: white;
                cursor: pointer;
            }
        }
       }
       @keyframes anime{
        100%{
            text-shadow:0 0 60px rgba(21,0,255,0.457);
        }
       }
    }
    .image{
        padding-top: 10px;
        padding-bottom: 55px;
        padding-right: 40px;
          img{
             height: 65vh;
             width: 30vw;
             border-radius: 50px;
             background: linear-gradient(145deg, #42e05c, #dddde0c4);
            //  box-shadow:  14px 14px 28px #55556f,
            //               -14px -14px 28px #ccc6cb;
          }
    }

    @media screen and (max-width: 800px){
        .top{
            padding-left: 20px;
            padding-top: 27px;
            z-index: 99;
            position: absolute;
            h1{
                font-weight: 600;
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
            .btn{
               display: flex;
               flex-direction: column;
               .btn1{
                   button{
                      width: 40vw;
                   }
               }
               .btn2{
                button{
                   width: 40vw;
                }
            }
            }
        }
        .image{
            padding-top: 10px;
            padding-left: 2px;
            img{
                height: 90vh;
                width: 100vw;
                padding-top: 10px;
            }
        }
    }
}
     
@media screen and (max-width: 800px) {
    .main-div .top-part {
        align-items: center;
        position: relative;
        z-index: -1;
        flex-direction: column;
        .right {
            padding-right: 0; 
            ul {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}